<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登陆</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="LoginAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="LoginAssets/css/form-elements.css">
    <link rel="stylesheet" href="LoginAssets/css/style.css">

</head>

<body>
<!-- Content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
            </div>
        </div>
        <!-- MODAL -->
        <div class="top-big-link" id="modal-register">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        </button>
                        <h3 class="modal-title" id="modal-register-label">开始登录</h3>
                        <p>输入您的用户名和密码：</p>
                    </div>


                    <div class="modal-body">

                        <form role="form" action="loginUser" method="post" class="registration-form">
                            <div class="form-group">
                                <span class="u_user"></span>
                                <label class="sr-only" for="form-name">用户名</label>
                                <input type="text" name="username" placeholder="请输入用户名..."
                                       class="form-first-name form-control" id="form-name">
                            </div>
                            <div class="form-group">
                                <span class="u_user"></span>
                                <label class="sr-only" for="form-Password">密码</label>
                                <input type="password" name="password" placeholder="请输入密码..."
                                       class="form-Password form-control" id="form-Password">
                            </div>
                            <div class="errorText" id="error_box"><br></div>
                            <!--<button onclick="fnLogin()"  class="btn">登录</button>-->
                            <div class="#">
                                <button class="btn" id="btn_login">登录</button>
                            </div>
                            <br>
                            <a href="http://localhost:8090/toregist" style="color: #FFFFFF">
                                <div>立即注册</div>
                            </a>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="LoginAssets/js/jquery-1.11.1.min.js"></script>
<script src="LoginAssets/bootstrap/js/bootstrap.min.js"></script>
<script src="LoginAssets/js/jquery.backstretch.min.js"></script>
<script src="LoginAssets/js/scripts.js"></script>
<script src="LoginAssets/js/login.js"></script>

</body>


</html>